*/node_modules
*/dist
*/.tmp
*/.sass-cache
*/bower_components

# IntelliJ
*/*/*/.idea
*/.idea/
*/.idea/workspace.xml
*/.idea/tasks.xml
*/*.isw
*/*.iml

# Maven
*/target/**
*/log/**

# Gradle
*/build
*/.gradle

.*~
~                                                                                                                                
~                                                                                                                                
~                                                                                                                                
~                                                                                                                                
~          
